<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Telnet Switch - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to integrate telnet switches into Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/switch.telnet/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Telnet Switch">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/switch.telnet/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate telnet switches into Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Telnet Switch">
    <meta name="twitter:description" content="Instructions how to integrate telnet switches into Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection, print" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Telnet Switch
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">telnet</code> switch platform allows you to control devices with telnet commands.</p>
<p>To enable this switch, add the following lines to your <code class="highlighter-rouge">configuration.yaml</code> file:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">switch</span><span class="pi">:</span>
  <span class="s">platform</span><span class="pi">:</span> <span class="s">telnet</span>
  <span class="s">switches</span><span class="pi">:</span>
    <span class="s">projector</span><span class="pi">:</span>
      <span class="s">resource</span><span class="pi">:</span> <span class="s2">"</span><span class="s">host_or_ip"</span>
      <span class="s">port</span><span class="pi">:</span> <span class="s">4002</span>
      <span class="s">command_on</span><span class="pi">:</span> <span class="s2">"</span><span class="s">PWR</span><span class="nv"> </span><span class="s">ON"</span>
      <span class="s">command_off</span><span class="pi">:</span> <span class="s2">"</span><span class="s">PWR</span><span class="nv"> </span><span class="s">OFF"</span>
      <span class="s">command_state</span><span class="pi">:</span> <span class="s2">"</span><span class="s">PWR?"</span>
      <span class="s">value_template</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">value</span><span class="nv"> </span><span class="s">==</span><span class="nv"> </span><span class="s">"PWR=01"</span><span class="nv"> </span><span class="s">}}'</span>
</code></pre>
</div>
<p>Configuration variables:</p>
<ul>
  <li><strong>switches</strong> (<em>Required</em>): The array that contains all switches.
    <ul>
      <li><strong>identifier</strong> (<em>Required</em>): Name of the switch as slug. Multiple entries are possible.
        <ul>
          <li><strong>resource</strong> (<em>Required</em>): Host or IP of the device.</li>
          <li><strong>port</strong> (<em>Optional</em>): Port to connect to. Default is 23 if not defined.</li>
          <li><strong>command_on</strong> (<em>Required</em>): Command to turn device on.</li>
          <li><strong>command_off</strong> (<em>Required</em>): Command to turn device off.</li>
          <li><strong>command_state</strong> (<em>Required</em>): Command to determine the state of the switch. If not defined the switch will assume successful state changes.</li>
          <li><strong>value_template</strong> (<em>Required</em>): The template evaluating to <code class="highlighter-rouge">true</code> will indicate that the switch is on.</li>
          <li><strong>name</strong> (<em>Optional</em>): The name used to display the switch in the frontend.</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/switch.telnet.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
  </div>
    <div class='section'>
      IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Polling
    </div>
    <div class='section'>
      Introduced in release: 0.54
    </div>
    <div class='section'>
      Source:
      <a href='https://github.com/home-assistant/home-assistant/blob/master/homeassistant/components/switch/telnet.py'>switch/telnet.py</a>
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/switch/'>the Switches component</a>.
    </div>
    <div class='section'>
    <h1 class="title delta">Category Switch</h1>
    <ul class='divided'>
        <li>
            <a href='/components/switch.ads/'>ADS Switch</a>
        </li>
        <li>
            <a href='/components/switch.anel_pwrctrl/'>ANEL PwrCtrl Switch</a>
        </li>
        <li>
            <a href='/components/switch.fritzdect/'>AVM FRITZ!DECT Switch</a>
        </li>
        <li>
            <a href='/components/switch.abode/'>Abode Switch</a>
        </li>
        <li>
            <a href='/components/switch.acer_projector/'>Acer Projector Switch</a>
        </li>
        <li>
            <a href='/components/switch.android_ip_webcam/'>Android IP Webcam Settings</a>
        </li>
        <li>
            <a href='/components/switch.bbb_gpio/'>BeagleBone Black GPIO Switch</a>
        </li>
        <li>
            <a href='/components/switch.wemo/'>Belkin WeMo Switch</a>
        </li>
        <li>
            <a href='/components/switch.broadlink/'>Broadlink RM Switch</a>
        </li>
        <li>
            <a href='/components/switch.command_line/'>Command line Switch</a>
        </li>
        <li>
            <a href='/components/switch.dlink/'>D-Link Switch</a>
        </li>
        <li>
            <a href='/components/switch.digitalloggers/'>Digital Loggers Switch</a>
        </li>
        <li>
            <a href='/components/switch.digital_ocean/'>Digital Ocean Switch</a>
        </li>
        <li>
            <a href='/components/switch.doorbird/'>DoorBird Switch</a>
        </li>
        <li>
            <a href='/components/switch.edimax/'>Edimax Switch</a>
        </li>
        <li>
            <a href='/components/switch.enocean/'>EnOcean Switch</a>
        </li>
        <li>
            <a href='/components/switch.hikvisioncam/'>Hikvision Camera Switch</a>
        </li>
        <li>
            <a href='/components/switch.hive/'>Hive Switch</a>
        </li>
        <li>
            <a href='/components/switch.homematic/'>Homematic Switch</a>
        </li>
        <li>
            <a href='/components/switch.hook/'>Hook Switch</a>
        </li>
        <li>
            <a href='/components/switch.isy994/'>ISY994 Switch</a>
        </li>
        <li>
            <a href='/components/switch.insteon_local/'>Insteon (Local) Switch</a>
        </li>
        <li>
            <a href='/components/switch.insteon_plm/'>Insteon PLM Switch</a>
        </li>
        <li>
            <a href='/components/switch.knx/'>KNX Switch</a>
        </li>
        <li>
            <a href='/components/switch.kankun/'>Kankun SP3 Wifi Switch</a>
        </li>
        <li>
            <a href='/components/switch.litejet/'>LiteJet Switch</a>
        </li>
        <li>
            <a href='/components/switch.lutron_caseta/'>Lutron Caseta Switch</a>
        </li>
        <li>
            <a href='/components/switch.mqtt/'>MQTT Switch</a>
        </li>
        <li>
            <a href='/components/switch.raincloud/'>Melnor Raincloud Switch</a>
        </li>
        <li>
            <a href='/components/switch.mochad/'>Mochad Switch</a>
        </li>
        <li>
            <a href='/components/switch.modbus/'>Modbus Switch</a>
        </li>
        <li>
            <a href='/components/switch.mysensors/'>MySensors Switch</a>
        </li>
        <li>
            <a href='/components/switch.neato/'>Neato Robotics Switch</a>
        </li>
        <li>
            <a href='/components/switch.netio/'>Netio Switch</a>
        </li>
        <li>
            <a href='/components/switch.orvibo/'>Orvibo Switch</a>
        </li>
        <li>
            <a href='/components/switch.rpi_pfio/'>PiFace Digital I/O Switch</a>
        </li>
        <li>
            <a href='/components/switch.pilight/'>Pilight Switch</a>
        </li>
        <li>
            <a href='/components/switch.pulseaudio_loopback/'>PulseAudio Loopback Switch</a>
        </li>
        <li>
            <a href='/components/switch.qwikswitch/'>QwikSwitch Switch</a>
        </li>
        <li>
            <a href='/components/switch.rest/'>RESTful Switch</a>
        </li>
        <li>
            <a href='/components/switch.rflink/'>RFLink Switch</a>
        </li>
        <li>
            <a href='/components/switch.rfxtrx/'>RFXtrx Switch</a>
        </li>
        <li>
            <a href='/components/switch.rachio/'>Rachio Switch</a>
        </li>
        <li>
            <a href='/components/switch.rainmachine/'>RainMachine Switch</a>
        </li>
        <li>
            <a href='/components/switch.rpi_gpio/'>Raspberry PI GPIO Switch</a>
        </li>
        <li>
            <a href='/components/switch.rpi_rf/'>Raspberry Pi RF Switch</a>
        </li>
        <li>
            <a href='/components/switch.raspihats/'>Raspihats Switch</a>
        </li>
        <li>
            <a href='/components/switch.scsgate/'>SCSGate Switch</a>
        </li>
        <li>
            <a href='/components/switch.snmp/'>SNMP Switch</a>
        </li>
        <li>
            <a href='/components/switch.skybell/'>Skybell Switch</a>
        </li>
        <li>
            <a href='/components/switch.tplink/'>TPLink Switch</a>
        </li>
        <li>
            <a href='/components/switch.tellstick/'>TellStick Switch</a>
        </li>
        <li>
            <a href='/components/switch.tellduslive/'>Telldus Live Switch</a>
        </li>
        <li>
            Telnet Switch
        </li>
        <li>
            <a href='/components/switch.template/'>Template Switch</a>
        </li>
        <li>
            <a href='/components/switch.tesla/'>Tesla Switch</a>
        </li>
        <li>
            <a href='/components/switch.thinkingcleaner/'>Thinking Cleaner Switch</a>
        </li>
        <li>
            <a href='/components/switch.toon/'>Toon Smart Plugs</a>
        </li>
        <li>
            <a href='/components/switch.velbus/'>Velbus Switches</a>
        </li>
        <li>
            <a href='/components/switch.vera/'>Vera Switch</a>
        </li>
        <li>
            <a href='/components/switch.verisure/'>Verisure SmartPlug</a>
        </li>
        <li>
            <a href='/components/switch.vultr/'>Vultr Switch</a>
        </li>
        <li>
            <a href='/components/switch.wake_on_lan/'>Wake on LAN Switch</a>
        </li>
        <li>
            <a href='/components/switch.wink/'>Wink Switch</a>
        </li>
        <li>
            <a href='/components/fan.xiaomi_miio/'>Xiaomi Air Purifier 2</a>
        </li>
        <li>
            <a href='/components/switch.xiaomi_miio/'>Xiaomi Smart WiFi Socket and Smart Power Strip</a>
        </li>
        <li>
            <a href='/components/switch.xiaomi_aqara/'>Xiaomi Switch</a>
        </li>
        <li>
            <a href='/components/switch.zwave/'>Z-Wave Switch</a>
        </li>
        <li>
            <a href='/components/switch.zha/'>ZigBee Home Automation Switch</a>
        </li>
        <li>
            <a href='/components/switch.zigbee/'>ZigBee Switch</a>
        </li>
        <li>
            <a href='/components/switch.zoneminder/'>ZoneMinder Switch</a>
        </li>
        <li>
            <a href='/components/switch.arest/'>aREST Switch</a>
        </li>
        <li>
            <a href='/components/switch.gc100/'>gc100 Switch</a>
        </li>
        <li>
            <a href='/components/switch.mfi/'>mFi Switch</a>
        </li>
        <li>
            <a href='/components/switch.mystrom/'>myStrom Switch</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
