<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Template Cover - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to integrate Template Covers into Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/cover.template/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Template Cover">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/cover.template/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to integrate Template Covers into Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Template Cover">
    <meta name="twitter:description" content="Instructions how to integrate Template Covers into Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection, print" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Template Cover
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">template</code> platform can create covers that combine components and provides
the ability to run scripts or invoke services for each of the open, close,
stop, position, and tilt commands of a cover.</p>
<p>To enable Template Covers in your installation, add the following to your
<code class="highlighter-rouge">configuration.yaml</code> file:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">cover</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">covers</span><span class="pi">:</span>
      <span class="s">garage_door</span><span class="pi">:</span>
        <span class="s">friendly_name</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Garage</span><span class="nv"> </span><span class="s">Door"</span>
        <span class="s">value_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{</span><span class="nv"> </span><span class="s">states('sensor.garage_door')|float</span><span class="nv"> </span><span class="s">&gt;</span><span class="nv"> </span><span class="s">0</span><span class="nv"> </span><span class="s">}}"</span>
        <span class="s">open_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.open_garage_door</span>
        <span class="s">close_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.close_garage_door</span>
        <span class="s">stop_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.stop_garage_door</span>
</code></pre>
</div>
<div class="config-vars">
  <h3><a class="title-link" name="configuration-variables" href="#configuration-variables"></a> Configuration Variables</h3>
  <dl class="">
    <dt><a class="title-link" name="covers" href="#covers"></a> covers</dt>
    <dd>
      <p class="desc"><span class="type">(<span class="map">map</span>)</span><span class="required">(Required)</span><span class="description">List of your covers.</span></p>
    </dd>
    <dd>
      <dl class="nested">
        <dt><a class="title-link" name="friendly_name" href="#friendly_name"></a> friendly_name</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="string">string</span>)</span><span class="required">(Optional)</span><span class="description">Name to use in the frontend.</span></p>
        </dd>
        <dt><a class="title-link" name="entity_id" href="#entity_id"></a> entity_id</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="string list">string | list</span>)</span><span class="required">(Optional)</span><span class="description">Add a list of entity IDs so the switch only reacts to state changes of these entities. This will reduce the number of times the cover will try to update its state.</span></p>
        </dd>
        <dt><a class="title-link" name="value_template" href="#value_template"></a> value_template</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Exclusive)</span><span class="description">Defines a template to get the state of the cover. Valid values are <code class="highlighter-rouge">open</code>/<code class="highlighter-rouge">true</code> or <code class="highlighter-rouge">closed</code>/<code class="highlighter-rouge">false</code>. <a href="#value_template"><code class="highlighter-rouge">value_template</code></a> and <a href="#position_template"><code class="highlighter-rouge">position_template</code></a> cannot be specified concurrently.</span></p>
        </dd>
        <dt><a class="title-link" name="position_template" href="#position_template"></a> position_template</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Exclusive)</span><span class="description">Defines a template to get the state of the cover. Legal values are numbers between <code class="highlighter-rouge">0</code> (closed) and <code class="highlighter-rouge">100</code> (open). <a href="#value_template"><code class="highlighter-rouge">value_template</code></a> and <a href="#position_template"><code class="highlighter-rouge">position_template</code></a> cannot be specified concurrently.</span></p>
        </dd>
        <dt><a class="title-link" name="icon_template" href="#icon_template"></a> icon_template</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Optional)</span><span class="description">Defines a template to specify which icon to use.</span></p>
        </dd>
        <dt><a class="title-link" name="open_cover" href="#open_cover"></a> open_cover</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="action"><a href="/docs/scripts/">action</a></span>)</span><span class="required">(Inclusive)</span><span class="description">Defines an action to run when the cover is opened. If <a href="#open_cover"><code class="highlighter-rouge">open_cover</code></a> is specified, <a href="#close_cover"><code class="highlighter-rouge">close_cover</code></a> must also be specified. At least one of <a href="#open_cover"><code class="highlighter-rouge">open_cover</code></a> and <a href="#set_cover_position"><code class="highlighter-rouge">set_cover_position</code></a> must be specified.</span></p>
        </dd>
        <dt><a class="title-link" name="close_cover" href="#close_cover"></a> close_cover</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="action"><a href="/docs/scripts/">action</a></span>)</span><span class="required">(Inclusive)</span><span class="description">Defines an action to run when the cover is closed.</span></p>
        </dd>
        <dt><a class="title-link" name="stop_cover" href="#stop_cover"></a> stop_cover</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="action"><a href="/docs/scripts/">action</a></span>)</span><span class="required">(Optional)</span><span class="description">Defines an action to run when the cover is stopped.</span></p>
        </dd>
        <dt><a class="title-link" name="set_cover_position" href="#set_cover_position"></a> set_cover_position</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="action"><a href="/docs/scripts/">action</a></span>)</span><span class="required">(Optional)</span><span class="description">Defines an action to run when the cover is set to a specific value (between <code class="highlighter-rouge">0</code> and <code class="highlighter-rouge">100</code>).</span></p>
        </dd>
        <dt><a class="title-link" name="set_cover_tilt_position" href="#set_cover_tilt_position"></a> set_cover_tilt_position</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="action"><a href="/docs/scripts/">action</a></span>)</span><span class="required">(Optional)</span><span class="description">Defines an action to run when the cover tilt is set to a specific value (between <code class="highlighter-rouge">0</code> and <code class="highlighter-rouge">100</code>).</span></p>
        </dd>
        <dt><a class="title-link" name="optimistic" href="#optimistic"></a> optimistic</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="bool">bool</span>)</span><span class="required">(Optional)</span><span class="description">Force cover position to use <a href="#optimistic-mode">optimistic mode</a>.</span></p>
          <p class="default">Default value: false</p>
        </dd>
        <dt><a class="title-link" name="tilt_optimistic" href="#tilt_optimistic"></a> tilt_optimistic</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="bool">bool</span>)</span><span class="required">(Optional)</span><span class="description">Force cover tilt position to use <a href="#optimistic-mode">optimistic mode</a>.</span></p>
          <p class="default">Default value: false</p>
        </dd>
        <dt><a class="title-link" name="tilt_template" href="#tilt_template"></a> tilt_template</dt>
        <dd>
          <p class="desc"><span class="type">(<span class="template"><a href="/docs/configuration/templating/">template</a></span>)</span><span class="required">(Optional)</span><span class="description">Defines a template to get the tilt state of the cover. Legal values are numbers between <code class="highlighter-rouge">0</code> (closed) and <code class="highlighter-rouge">100</code> (open).</span></p>
        </dd>
      </dl>
    </dd>
  </dl>
</div>
<h2><a class="title-link" name="considerations" href="#considerations"></a> Considerations</h2>
<p>If you are using the state of a platform that takes extra time to load, the
Template Cover may get an <code class="highlighter-rouge">unknown</code> state during startup. This results
in error messages in your log file until that platform has completed loading.
If you use <code class="highlighter-rouge">is_state()</code> function in your template, you can avoid this situation.
For example, you would replace
<code class="highlighter-rouge"><span class="p">{</span><span class="err">{</span><span class="w"> </span><span class="err">states.switch.source.state</span><span class="w"> </span><span class="err">==</span><span class="w"> </span><span class="err">'on'</span><span class="w"> </span><span class="p">}</span><span class="err">}</span></code>
with this equivalent that returns <code class="highlighter-rouge">true</code>/<code class="highlighter-rouge">false</code> and never gives an unknown
result:
<code class="highlighter-rouge"><span class="p">{</span><span class="err">{</span><span class="w"> </span><span class="err">is_state('switch.source',</span><span class="w"> </span><span class="err">'on')</span><span class="w"> </span><span class="p">}</span><span class="err">}</span></code></p>
<h2><a class="title-link" name="optimistic-mode" href="#optimistic-mode"></a> Optimistic Mode</h2>
<p>In optimistic mode, the cover position state is maintained internally. This
mode is automatically enabled if neither <a href="#value_template"><code class="highlighter-rouge">value_template</code></a> or
<a href="#position_template"><code class="highlighter-rouge">position_template</code></a> are specified. Note that this is
unlikely to be very reliable without some feedback mechanism, since there is
otherwise no way to know if the cover is moving properly. The cover can be
forced into optimistic mode by using the <a href="#optimistic"><code class="highlighter-rouge">optimistic</code></a>
attribute. There is an equivalent mode for <code class="highlighter-rouge">tilt_position</code> that is enabled
when <a href="#tilt_template"><code class="highlighter-rouge">tilt_template</code></a> is not specified or when the
<a href="#tilt_optimistic"><code class="highlighter-rouge">tilt_optimistic</code></a> attribute is used.</p>
<h2><a class="title-link" name="examples" href="#examples"></a> Examples</h2>
<p>In this section you will find some real life examples of how to use this cover.</p>
<h3><a class="title-link" name="garage-door" href="#garage-door"></a> Garage Door</h3>
<p>This example converts a garage door with a controllable switch and position
sensor into a cover.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">cover</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">covers</span><span class="pi">:</span>
      <span class="s">garage_door</span><span class="pi">:</span>
        <span class="s">friendly_name</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Garage</span><span class="nv"> </span><span class="s">Door"</span>
        <span class="s">position_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{</span><span class="nv"> </span><span class="s">states('sensor.garage_door')</span><span class="nv"> </span><span class="s">}}"</span>
        <span class="s">open_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">switch.turn_on</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">entity_id</span><span class="pi">:</span> <span class="s">switch.garage_door</span>
        <span class="s">close_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">switch.turn_off</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">entity_id</span><span class="pi">:</span> <span class="s">switch.garage_door</span>
        <span class="s">stop_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">switch.turn_on</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">entity_id</span><span class="pi">:</span> <span class="s">switch.garage_door</span>
        <span class="s">icon_template</span><span class="pi">:</span> <span class="pi">&gt;-</span>
          <span class="no">{% if states('sensor.garage_door')|float &gt; 0 %}</span>
            <span class="no">mdi:garage-open</span>
          <span class="no">{% else %}</span>
            <span class="no">mdi:garage</span>
          <span class="no">{% endif %}</span>
</code></pre>
</div>
<h3><a class="title-link" name="multiple-covers" href="#multiple-covers"></a> Multiple Covers</h3>
<p>This example allows you to control two or more covers at once.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">homeassistant</span><span class="pi">:</span>
  <span class="s">customize</span><span class="pi">:</span>
    <span class="s">cover_group</span><span class="pi">:</span>
      <span class="s">assume_state</span><span class="pi">:</span> <span class="s">true</span>

<span class="s">cover</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">covers</span><span class="pi">:</span>
      <span class="s">cover_group</span><span class="pi">:</span>
        <span class="s">friendly_name</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Cover</span><span class="nv"> </span><span class="s">Group"</span>
        <span class="s">open_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">modus</span><span class="pi">:</span> <span class="s1">'</span><span class="s">open'</span>
        <span class="s">close_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">modus</span><span class="pi">:</span> <span class="s1">'</span><span class="s">close'</span>
        <span class="s">stop_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">modus</span><span class="pi">:</span> <span class="s1">'</span><span class="s">stop'</span>
        <span class="s">set_cover_position</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group_position</span>
          <span class="s">data_template</span><span class="pi">:</span>
            <span class="s">position</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{position}}"</span>
        <span class="s">value_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{is_state('sensor.cover_group',</span><span class="nv"> </span><span class="s">'open')}}"</span>
        <span class="s">icon_template</span><span class="pi">:</span> <span class="pi">&gt;-</span>
          <span class="no">{% if is_state('sensor.cover_group', 'open') %}</span>
            <span class="no">mdi:window-open</span>
          <span class="no">{% else %}</span>
            <span class="no">mdi:window-closed</span>
          <span class="no">{% endif %}</span>
        <span class="no">entity_id:</span>
          <span class="no">- cover.bedroom</span>
          <span class="no">- cover.livingroom</span>

<span class="s">sensor</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">sensors</span><span class="pi">:</span>
      <span class="s">cover_group</span><span class="pi">:</span>
        <span class="s">value_template</span><span class="pi">:</span> <span class="pi">&gt;-</span>
          <span class="no">{% if is_state('cover.bedroom', 'open') %}</span>
            <span class="no">open</span>
          <span class="no">{% elif is_state('cover.livingroom', 'open') %}</span>
            <span class="no">open</span>
          <span class="no">{% else %}</span>
            <span class="no">closed</span>
          <span class="no">{% endif %}</span>
        <span class="no">entity_id:</span>
          <span class="no">- cover.bedroom</span>
          <span class="no">- cover.livingroom</span>

<span class="s">script</span><span class="pi">:</span>
  <span class="s">cover_group</span><span class="pi">:</span>
    <span class="s">sequence</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">service_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">cover.{{modus}}_cover"</span>
        <span class="s">data</span><span class="pi">:</span>
          <span class="s">entity_id</span><span class="pi">:</span>
            <span class="pi">-</span> <span class="s">cover.bedroom</span>
            <span class="pi">-</span> <span class="s">cover.livingroom</span>
  <span class="s">cover_group_position</span><span class="pi">:</span>
    <span class="s">sequence</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.set_cover_position</span>
        <span class="s">data_template</span><span class="pi">:</span>
          <span class="s">entity_id</span><span class="pi">:</span>
            <span class="pi">-</span> <span class="s">cover.bedroom</span>
            <span class="pi">-</span> <span class="s">cover.livingroom</span>
          <span class="s">position</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{position}}"</span>

<span class="s">automation</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">alias</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Close</span><span class="nv"> </span><span class="s">covers</span><span class="nv"> </span><span class="s">at</span><span class="nv"> </span><span class="s">night"</span>
    <span class="s">trigger</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">sun</span>
        <span class="s">event</span><span class="pi">:</span> <span class="s">sunset</span>
        <span class="s">offset</span><span class="pi">:</span> <span class="s1">'</span><span class="s">+00:30:00'</span>
    <span class="s">action</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">cover.set_cover_position</span>
        <span class="s">data</span><span class="pi">:</span>
          <span class="s">entity_id</span><span class="pi">:</span> <span class="s">cover.cover_group</span>
          <span class="s">position</span><span class="pi">:</span> <span class="s">25</span>
</code></pre>
</div>
<h3><a class="title-link" name="change-the-icon" href="#change-the-icon"></a> Change The Icon</h3>
<p>This example shows how to change the icon based on the cover state.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">cover</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">covers</span><span class="pi">:</span>
      <span class="s">cover_group</span><span class="pi">:</span>
        <span class="s">friendly_name</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Cover</span><span class="nv"> </span><span class="s">Group"</span>
        <span class="s">open_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">modus</span><span class="pi">:</span> <span class="s1">'</span><span class="s">open'</span>
        <span class="s">close_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">modus</span><span class="pi">:</span> <span class="s1">'</span><span class="s">close'</span>
        <span class="s">stop_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">modus</span><span class="pi">:</span> <span class="s1">'</span><span class="s">stop'</span>
        <span class="s">value_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{is_state('sensor.cover_group',</span><span class="nv"> </span><span class="s">'open')}}"</span>
        <span class="s">icon_template</span><span class="pi">:</span> <span class="pi">&gt;-</span>
          <span class="no">{% if is_state('sensor.cover_group', 'open') %}</span>
            <span class="no">mdi:window-open</span>
          <span class="no">{% else %}</span>
            <span class="no">mdi:window-closed</span>
          <span class="no">{% endif %}</span>
</code></pre>
</div>
<h3><a class="title-link" name="change-the-entity-picture" href="#change-the-entity-picture"></a> Change The Entity Picture</h3>
<p>This example shows how to change the entity picture based on the cover state.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">cover</span><span class="pi">:</span>
  <span class="pi">-</span> <span class="s">platform</span><span class="pi">:</span> <span class="s">template</span>
    <span class="s">covers</span><span class="pi">:</span>
      <span class="s">cover_group</span><span class="pi">:</span>
        <span class="s">friendly_name</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Cover</span><span class="nv"> </span><span class="s">Group"</span>
        <span class="s">open_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">modus</span><span class="pi">:</span> <span class="s1">'</span><span class="s">open'</span>
        <span class="s">close_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">modus</span><span class="pi">:</span> <span class="s1">'</span><span class="s">close'</span>
        <span class="s">stop_cover</span><span class="pi">:</span>
          <span class="s">service</span><span class="pi">:</span> <span class="s">script.cover_group</span>
          <span class="s">data</span><span class="pi">:</span>
            <span class="s">modus</span><span class="pi">:</span> <span class="s1">'</span><span class="s">stop'</span>
        <span class="s">value_template</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{is_state('sensor.cover_group',</span><span class="nv"> </span><span class="s">'open')}}"</span>
        <span class="s">icon_template</span><span class="pi">:</span> <span class="pi">&gt;-</span>
          <span class="no">{% if is_state('sensor.cover_group', 'open') %}</span>
            <span class="no">/local/cover-open.png</span>
          <span class="no">{% else %}</span>
            <span class="no">/local/cover-closed.png</span>
          <span class="no">{% endif %}</span>
</code></pre>
</div>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/cover.template.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/home-assistant.png' />
  </div>
    <div class='section'>
      IoT class<sup><a href='/blog/2016/02/12/classifying-the-internet-of-things/#classifiers'><i class="icon-info-sign"></i></a></sup>: Local Push
    </div>
    <div class='section'>
      Introduced in release: 0.48
    </div>
    <div class='section'>
      Source:
      <a href='https://github.com/home-assistant/home-assistant/blob/master/homeassistant/components/cover/template.py'>cover/template.py</a>
    </div>
    <div class='section'>
      This is a platform for
      <a href='/components/cover/'>the Covers component</a>.
    </div>
          <div class='section'>
          <h1 class='title delta'>Related components</h1>
          <ul class='divided'>
        <li><a href='/components/binary_sensor.template/'>
          Template Binary Sensor
        </a></li>
        <li><a href='/components/light.template/'>
          Template Light
        </a></li>
        <li><a href='/components/sensor.template/'>
          Template Sensor
        </a></li>
        <li><a href='/components/switch.template/'>
          Template Switch
        </a></li>
    </ul>
    </div>
    <div class='section'>
    <h1 class="title delta">Category Cover</h1>
    <ul class='divided'>
        <li>
            <a href='/components/cover.abode/'>Abode Cover</a>
        </li>
        <li>
            <a href='/components/cover.command_line/'>Command Line Cover</a>
        </li>
        <li>
            <a href='/components/cover.garadget/'>Garadget Cover</a>
        </li>
        <li>
            <a href='/components/cover.homematic/'>Homematic Cover</a>
        </li>
        <li>
            <a href='/components/cover.isy994/'>ISY994 Cover</a>
        </li>
        <li>
            <a href='/components/cover.knx/'>KNX Cover</a>
        </li>
        <li>
            <a href='/components/cover.lutron_caseta/'>Lutron Caseta Cover</a>
        </li>
        <li>
            <a href='/components/cover.mqtt/'>MQTT Cover</a>
        </li>
        <li>
            <a href='/components/cover.myq/'>MyQ Cover</a>
        </li>
        <li>
            <a href='/components/cover.mysensors/'>MySensors Cover</a>
        </li>
        <li>
            <a href='/components/cover.opengarage/'>OpenGarage Cover</a>
        </li>
        <li>
            <a href='/components/scene.hunterdouglas_powerview/'>PowerView Scenes</a>
        </li>
        <li>
            <a href='/components/cover.rflink/'>RFLink Cover</a>
        </li>
        <li>
            <a href='/components/cover.rfxtrx/'>RFXtrx Cover</a>
        </li>
        <li>
            <a href='/components/cover.rpi_gpio/'>Raspberry Pi Cover</a>
        </li>
        <li>
            <a href='/components/cover.scsgate/'>SCSGate Cover</a>
        </li>
        <li>
            <a href='/components/cover.tahoma/'>Tahoma Cover</a>
        </li>
        <li>
            <a href='/components/sensor.tahoma/'>Tahoma Sensor</a>
        </li>
        <li>
            <a href='/components/cover.tellstick/'>TellStick Cover</a>
        </li>
        <li>
            Template Cover
        </li>
        <li>
            <a href='/components/cover.vera/'>Vera Cover</a>
        </li>
        <li>
            <a href='/components/cover.wink/'>Wink Cover</a>
        </li>
        <li>
            <a href='/components/cover.xiaomi_aqara/'>Xiaomi Cover</a>
        </li>
        <li>
            <a href='/components/cover.zwave/'>Z-Wave Cover</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
