<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Automation Templating - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Advanced automation documentation using templating.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/docs/automation/templating/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Automation Templating">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/docs/automation/templating/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Advanced automation documentation using templating.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Automation Templating">
    <meta name="twitter:description" content="Advanced automation documentation using templating.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection, print" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
    <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_docs/automation/templating.markdown'>Edit this page on GitHub</a></div>
  <header>
    <h1 class="title indent">
      Automation Templating
    </h1>
  </header>
  <hr class="divider">
  <p>In Home Assistant 0.19 we introduced a new powerful feature: variables in scripts and automations. This makes it possible to adjust your condition and action based on the information of the trigger.</p>
<p>The trigger data made is available during <a href="/docs/configuration/templating/">template</a> rendering as the <code class="highlighter-rouge">trigger</code> variable.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entries</span>
<span class="s">automation</span><span class="pi">:</span>
  <span class="s">trigger</span><span class="pi">:</span>
    <span class="s">platform</span><span class="pi">:</span> <span class="s">state</span>
    <span class="s">entity_id</span><span class="pi">:</span> <span class="s">device_tracker.paulus</span>
  <span class="s">action</span><span class="pi">:</span>
    <span class="s">service</span><span class="pi">:</span> <span class="s">notify.notify</span>
    <span class="s">data_template</span><span class="pi">:</span>
      <span class="s">message</span><span class="pi">:</span> <span class="pi">&gt;</span>
        <span class="no">Paulus just changed from {{ trigger.from_state.state }}</span>
        <span class="no">to {{ trigger.to_state.state }}</span>

<span class="s">automation 2</span><span class="pi">:</span>
  <span class="s">trigger</span><span class="pi">:</span>
    <span class="s">platform</span><span class="pi">:</span> <span class="s">mqtt</span>
    <span class="s">topic</span><span class="pi">:</span> <span class="s">/notify/+</span>
  <span class="s">action</span><span class="pi">:</span>
    <span class="s">service_template</span><span class="pi">:</span> <span class="pi">&gt;</span>
      <span class="no">notify.{{ trigger.topic.split('/')[-1] }}</span>
    <span class="s">data_template</span><span class="pi">:</span>
      <span class="s">message</span><span class="pi">:</span> <span class="s1">'</span><span class="s">{{</span><span class="nv"> </span><span class="s">trigger.payload</span><span class="nv"> </span><span class="s">}}'</span>
</code></pre>
</div>
<h2><a class="title-link" name="important-template-rules" href="#important-template-rules"></a> Important Template Rules</h2>
<p>There are a few very important rules to remember when writing automation templates:</p>
<ol>
  <li>You <strong><em>must</em></strong> use <code class="highlighter-rouge">data_template</code> in place of <code class="highlighter-rouge">data</code> when using templates in the <code class="highlighter-rouge">data</code> section of a service call.</li>
  <li>You <strong><em>must</em></strong> use <code class="highlighter-rouge">service_template</code> in place of <code class="highlighter-rouge">service</code> when using templates in the <code class="highlighter-rouge">service</code> section of a service call.</li>
  <li>You <strong><em>must</em></strong> surround single-line templates with double quotes (<code class="highlighter-rouge">"</code>) or single quotes (<code class="highlighter-rouge">'</code>).</li>
  <li>It is advised that you prepare for undefined variables by using <code class="highlighter-rouge">if ... is not none</code> or the <a href="http://jinja.pocoo.org/docs/dev/templates/#default"><code class="highlighter-rouge">default</code> filter</a>, or both.</li>
  <li>It is advised that when comparing numbers, you convert the number(s) to a <a href="http://jinja.pocoo.org/docs/dev/templates/#float"><code class="highlighter-rouge">float</code></a> or an <a href="http://jinja.pocoo.org/docs/dev/templates/#int"><code class="highlighter-rouge">int</code></a> by using the respective <a href="http://jinja.pocoo.org/docs/dev/templates/#list-of-builtin-filters">filter</a>.</li>
  <li>While the <a href="http://jinja.pocoo.org/docs/dev/templates/#float"><code class="highlighter-rouge">float</code></a> and <a href="http://jinja.pocoo.org/docs/dev/templates/#int"><code class="highlighter-rouge">int</code></a> filters do allow a default fallback value if the conversion is unsuccessful, they do not provide the ability to catch undefined variables.</li>
</ol>
<p>Remembering these simple rules will help save you from many headaches and endless hours of frustration when using automation templates.</p>
<h2><a class="title-link" name="trigger-state-object" href="#trigger-state-object"></a> Trigger State Object</h2>
<p>Knowing how to access the <a href="/docs/configuration/state_object/">state object</a> of a trigger entity could be one of the more common questions. Here are a few ways for the <a href="#state"><code class="highlighter-rouge">state</code></a>, <a href="#numeric_state"><code class="highlighter-rouge">numeric_state</code></a> and <a href="#template"><code class="highlighter-rouge">template</code></a> triggers:</p>
<ul>
  <li><code class="highlighter-rouge">trigger.from_state</code> will return the <strong>previous</strong> <a href="/docs/configuration/state_object/">state object</a> of the entity.</li>
  <li><code class="highlighter-rouge">trigger.to_state</code> will return the <strong>new</strong> <a href="/docs/configuration/state_object/">state object</a> that triggered trigger.</li>
  <li><code class="highlighter-rouge">states[trigger.to_state.domain][trigger.to_state.object_id]</code> will return the <strong>current</strong> <a href="/docs/configuration/state_object/">state object</a> of the entity.</li>
</ul>
<h2><a class="title-link" name="available-trigger-data" href="#available-trigger-data"></a> Available Trigger Data</h2>
<p>The following tables show the available trigger data per platform.</p>
<h3><a class="title-link" name="event" href="#event"></a> event</h3>
<table>
  <thead>
    <tr>
      <th>Template variable</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">trigger.platform</code></td>
      <td>Hardcoded: <code class="highlighter-rouge">event</code>.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.event</code></td>
      <td>Event object that matched.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.event.data</code></td>
      <td>Optional data</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="mqtt" href="#mqtt"></a> mqtt</h3>
<table>
  <thead>
    <tr>
      <th>Template variable</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">trigger.platform</code></td>
      <td>Hardcoded: <code class="highlighter-rouge">mqtt</code>.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.topic</code></td>
      <td>Topic that received payload.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.payload</code></td>
      <td>Payload.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.payload_json</code></td>
      <td>Dictonary of the JSON parsed payload.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.qos</code></td>
      <td>QOS of payload.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="numeric_state" href="#numeric_state"></a> numeric_state</h3>
<table>
  <thead>
    <tr>
      <th>Template variable</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">trigger.platform</code></td>
      <td>Hardcoded: <code class="highlighter-rouge">numeric_state</code></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.entity_id</code></td>
      <td>Entity ID that we observe.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.below</code></td>
      <td>The below threshold, if any.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.above</code></td>
      <td>The above threshold, if any.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.from_state</code></td>
      <td>The previous <a href="/docs/configuration/state_object/">state object</a> of the entity.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.to_state</code></td>
      <td>The new <a href="/docs/configuration/state_object/">state object</a> that triggered trigger.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="state" href="#state"></a> state</h3>
<table>
  <thead>
    <tr>
      <th>Template variable</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">trigger.platform</code></td>
      <td>Hardcoded: <code class="highlighter-rouge">state</code></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.entity_id</code></td>
      <td>Entity ID that we observe.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.from_state</code></td>
      <td>The previous <a href="/docs/configuration/state_object/">state object</a> of the entity.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.to_state</code></td>
      <td>The new <a href="/docs/configuration/state_object/">state object</a> that triggered trigger.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.for</code></td>
      <td>Timedelta object how long state has been to state, if any.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="sun" href="#sun"></a> sun</h3>
<table>
  <thead>
    <tr>
      <th>Template variable</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">trigger.platform</code></td>
      <td>Hardcoded: <code class="highlighter-rouge">sun</code></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.event</code></td>
      <td>The event that just happened: <code class="highlighter-rouge">sunset</code> or <code class="highlighter-rouge">sunrise</code>.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.offset</code></td>
      <td>Timedelta object with offset to the event, if any.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="template" href="#template"></a> template</h3>
<table>
  <thead>
    <tr>
      <th>Template variable</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">trigger.platform</code></td>
      <td>Hardcoded: <code class="highlighter-rouge">template</code></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.entity_id</code></td>
      <td>Entity ID that caused change.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.from_state</code></td>
      <td>Previous <a href="/docs/configuration/state_object/">state object</a> of entity that caused change.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.to_state</code></td>
      <td>New <a href="/docs/configuration/state_object/">state object</a> of entity that caused template to change.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="time" href="#time"></a> time</h3>
<table>
  <thead>
    <tr>
      <th>Template variable</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">trigger.platform</code></td>
      <td>Hardcoded: <code class="highlighter-rouge">time</code></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.now</code></td>
      <td>DateTime object that triggered the time trigger.</td>
    </tr>
  </tbody>
</table>
<h3><a class="title-link" name="zone" href="#zone"></a> zone</h3>
<table>
  <thead>
    <tr>
      <th>Template variable</th>
      <th>Data</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><code class="highlighter-rouge">trigger.platform</code></td>
      <td>Hardcoded: <code class="highlighter-rouge">zone</code></td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.entity_id</code></td>
      <td>Entity ID that we are observing.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.from_state</code></td>
      <td>Previous <a href="/docs/configuration/state_object/">state object</a> of the entity.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.to_state</code></td>
      <td>New <a href="/docs/configuration/state_object/">state object</a> of the entity.</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.zone</code></td>
      <td>State object of zone</td>
    </tr>
    <tr>
      <td><code class="highlighter-rouge">trigger.event</code></td>
      <td>Event that trigger observed: <code class="highlighter-rouge">enter</code> or <code class="highlighter-rouge">leave</code>.</td>
    </tr>
  </tbody>
</table>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='section'>
    <h1 class="title delta">Topics</h1>
    <ul class='divided sidebar-menu'>
      <li>
        <b><a  href='/faq/'>FAQ </a></b> | 
        <b><a  href='/docs/glossary/'>Glossary </a></b>
      </li>
      <li>
        <b><a  href='/docs/installation/'>Installation </a></b>
        <ul>
          <li><a  href='/hassio/'>Hass.io </a></li>
          <li><a  href='/docs/installation/virtualenv/'>Python Virtual Env </a></li>
          <li><a  href='/docs/installation/hassbian/'>Hassbian </a></li>
          <!--<li><a  href='/docs/installation/raspberry-pi-all-in-one/'>Raspberry Pi All-in-One </a></li>-->
          <li><a  href='/docs/installation/updating/'>Updating </a></li>
          <li><a  href='/docs/installation/troubleshooting/'>Troubleshooting </a></li>
        </ul>
      </li>
      <li>
        <b><a  href='/docs/configuration/'>Configuration </a></b>
        <ul>
          <li><a  href='/docs/configuration/yaml/'>YAML </a></li>
          <li><a  href='/docs/configuration/basic/'>Basic information </a></li>
          <li><a  href='/docs/configuration/devices/'>Setting up devices </a></li>
          <li><a  href='/docs/configuration/customizing-devices/'>Customizing entities </a></li>
          <li><a  href='/docs/configuration/troubleshooting/'>Troubleshooting </a></li>
          <li><a  href='/docs/configuration/securing/'>Security Check Points </a></li>
        </ul>
      </li>
      <li>
        <b>Advanced Configuration</b>
        <ul>
          <li><a  href='/docs/configuration/remote/'>Remote access </a></li>
          <li><a  href='/docs/configuration/packages/'>Packages </a></li>
          <li><a  href='/docs/configuration/splitting_configuration/'>Splitting up the configuration </a></li>
          <li><a  href='/docs/configuration/secrets/'>Storing Secrets </a></li>
          <li><a  href='/docs/configuration/templating/'>Templating </a></li>
          <li><a  href='/docs/configuration/group_visibility/'>Group Visibility </a></li>
          <li><a  href='/docs/configuration/platform_options/'>Entity component platform options </a></li>
        </ul>
      </li>
      <li>
        <b>Core objects</b>
        <ul>
          <li><a  href='/docs/configuration/events/'>Events </a></li>
          <li><a  href='/docs/configuration/state_object/'>State Objects </a></li>
        </ul>
      </li>
      <li>
        <b><a  href='/docs/automation/'>Automation </a></b>
        <ul>
          <li><a  href='/docs/automation/examples/'>Examples </a></li>
          <li><a  href='/docs/automation/editor/'>Editor </a></li>
          <li><a  href='/docs/automation/trigger/'>Triggers </a></li>
          <li><a  href='/docs/automation/condition/'>Conditions </a></li>
          <li><a  href='/docs/automation/action/'>Actions </a></li>
          <li><a class='active' href='/docs/automation/templating/'>Templates </a></li>
        </ul>
      </li>
      <li>
        <b><a  href='/docs/frontend/'>Frontend </a></b>
        <ul>
          <li><a  href='/docs/frontend/mobile/'>Android/iOS Homescreen </a></li>
          <li><a  href='/docs/frontend/webserver/'>Web server fingerprint </a></li>
          <li><a  href='/docs/frontend/browsers/'>Browser Compatibility List </a></li>
        </ul>
      </li>
      <li>
        <b><a  href='/docs/backend/'>Backend </a></b>
        <ul>
          <li><a  href='/docs/backend/database/'>Database </a></li>
          <li><a  href='/docs/backend/updater/'>Updater </a></li>
          <li><a  href='/developers/api/'>API </a></li>
        </ul>
      </li>
      <li>
        <b><a  href='/docs/scripts/'>Scripts </a></b>
        <ul>
          <li><a  href='/docs/scripts/service-calls/'>Service Calls </a></li>
          <li><a  href='/docs/scripts/conditions/'>Conditions </a></li>
          <li><a  href='/docs/scripts/editor/'>Editor </a></li>
        </ul>
      </li>
      <li>
        <b><a  href='/docs/tools/'>Tools and Helpers </a></b>
        <ul>
          <li><a  href='/docs/tools/dev-tools/'>Developer Tools </a></li>
          <li><a  href='/docs/tools/hass/'>hass </a></li>
          <li><a  href='/docs/tools/scripts/'>Scripts </a></li>
        </ul>
      </li>
      <li>
        <b><a  href='/docs/z-wave/'>Z-Wave </a></b>
        <ul>
          <li><a  href='/docs/z-wave/installation/'>Configuring the Z-Wave component </a></li>
          <li><a  href='/docs/z-wave/adding/'>Adding devices </a></li>
          <li><a  href='/docs/z-wave/control-panel/'>The Z-Wave control panel </a></li>
          <li><a  href='/docs/z-wave/controllers/'>Controllers </a></li>
          <li><a  href='/docs/z-wave/devices/'>Devices </a> and <a  href='/docs/z-wave/entities/'>Entities </a></li>
          <li><a  href='/docs/z-wave/query-stage/'>Query Stages </a> for devices</li>
          <li><a  href='/docs/z-wave/device-specific/'>Device Specific </a> configuration</li>
          <li><a  href='/docs/z-wave/events/'>Events </a> and <a  href='/docs/z-wave/services/'>Services </a></li>
        </ul>
      </li>
      <li>
        <b><a  href='/docs/mqtt/'>MQTT </a></b>
        <ul>
          <li><a  href='/docs/mqtt/broker/'>Broker </a></li>
          <li><a  href='/docs/mqtt/certificate/'>Certificate </a></li>
          <li><a  href='/docs/mqtt/discovery/'>Discovery </a></li>
          <li><a  href='/docs/mqtt/service/'>Publish service </a></li>
          <li><a  href='/docs/mqtt/birth_will/'>Birth and last will messages </a></li>
          <li><a  href='/docs/mqtt/testing/'>Testing your setup </a></li>
          <li><a  href='/docs/mqtt/logging/'>Logging </a></li>
          <li><a  href='/docs/mqtt/processing_json/'>Processing JSON </a></li>
        </ul>
      </li>
      <li>
        <b><a  href='/docs/ecosystem/ios/'>iOS </a></b>
        <ul>
          <li><a  href='/docs/ecosystem/ios/notifications/basic/'>Basic notifications </a></li>
          <ul>
            <li><a  href='/docs/ecosystem/ios/notifications/sounds/'>Sounds </a></li>
            <li><a  href='/docs/ecosystem/ios/notifications/architecture/'>Architecture </a></li>
            <li><a  href='/docs/ecosystem/ios/notifications/privacy_security_rate_limits/'>Privacy, rate limiting and security </a></li>
          </ul>
          <li>Advanced notifications</li>
          <ul>
            <li><a  href='/docs/ecosystem/ios/notifications/attachments/'>Attachments </a></li>
            <li><a  href='/docs/ecosystem/ios/notifications/content_extensions/'>Dynamic content </a></li>
            <li><a  href='/docs/ecosystem/ios/notifications/actions/'>Actionable notifications </a></li>
            <li><a  href='/docs/ecosystem/ios/notifications/requesting_location_updates/'>Requesting location updates </a></li>
          </ul>
          <li><a  href='/docs/ecosystem/ios/location/'>Location Tracking </a></li>
          <li><a  href='/docs/ecosystem/ios/integration/'>Integration with other apps </a></li>
        </ul>
      </li>
      <li>
        <a  href='/docs/ecosystem/'>Ecosystem </a>
        <ul>
          <li>
            <a  href='/docs/autostart/'>Autostart </a>
            <ul>
              <li><a  href='/docs/autostart/systemd/'>systemd (Linux) </a></li>
              <li><a  href='/docs/autostart/upstart/'>Upstart (Linux) </a></li>
              <li><a  href='/docs/autostart/init.d/'>init.d (Linux) </a></li>
              <li><a  href='/docs/autostart/macos/'>macOS </a></li>
              <li><a  href='/docs/autostart/synology/'>Synology NAS </a></li>
            </ul>
          </li>
          <li>
            <a  href='/docs/ecosystem/appdaemon/'>AppDaemon </a>
          </li>
          <li>
            <a  href='/docs/ecosystem/hadashboard/'>HADashboard </a>
          </li>
          <li>
            <a  href='/docs/ecosystem/notebooks/'>Notebooks </a>
            <ul>
              <li><a  href='/docs/ecosystem/notebooks/'>Introduction </a></li>
              <li><a  href='/docs/ecosystem/notebooks/installation/'>Installation </a></li>
              <li><a  href='/docs/ecosystem/notebooks/graph/'>Graph </a></li>
              <li><a  href='/docs/ecosystem/notebooks/api/'>Home Assistant API </a></li>
              <li><a  href='/docs/ecosystem/notebooks/database/'>Database </a></li>
              <li><a  href='/docs/ecosystem/notebooks/stats/'>Statistics </a></li>
            </ul>
          </li>
          <li>
            Remote access
            <ul>
              <li><a  href='/docs/ecosystem/apache/'>Apache </a></li>
              <li><a  href='/docs/ecosystem/caddy/'>Caddy Server </a></li>
              <li><a  href='/docs/ecosystem/nginx/'>NGINX </a></li>
              <li><a  href='/docs/ecosystem/nginx_subdomain/'>NGINX with subdomain</a></li>
              <li><a  href='/docs/ecosystem/tor/'>Tor Onion Service </a></li>
            </ul>
          </li>
          <li>
            <a  href='/docs/ecosystem/certificates/'>Certificates </a>
            <ul>
              <li><a  href='/docs/ecosystem/certificates/tls_self_signed_certificate/'>Self-signed certificate </a></li>
              <li><a  href='/docs/ecosystem/certificates/tls_domain_certificate/'>Certificate domain owners </a></li>
              <li><a  href='/docs/ecosystem/certificates/lets_encrypt/'>Let's Encrypt (detailed) </a></li>
            </ul>
          </li>
          <li>
            Backup
            <ul>
              <li><a  href='/docs/ecosystem/backup/backup_github/'>Backup to GitHub </a></li>
              <li><a  href='/docs/ecosystem/backup/backup_dropbox/'>Backup to Dropbox </a></li>
              <li><a  href='/docs/ecosystem/backup/backup_usb/'>Backup to USB device </a></li>
            </ul>
          </li>
          <li><a  href='/docs/ecosystem/scenegen/'>scenegen </a></li>
          <li><a  href='/docs/ecosystem/synology/'>Synology </a></li>
          <li><a  href='/docs/ecosystem/hass-configurator/'>HASS Configurator </a></li>
        </ul>
    </ul>
  </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
