<!doctype html>
  <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
  <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
  <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
  <!--[if gt IE 8]><!--> <html> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Scripts - Home Assistant</title>
    <meta name="author" content="Home Assistant">
    <meta name="description" content="Instructions how to setup scripts within Home Assistant.">
    <meta name="viewport" content="width=device-width">
    <link rel="canonical" href="https://home-assistant.io/components/script/">
    <meta property="fb:app_id" content="338291289691179">
    <meta property="og:title" content="Scripts">
    <meta property="og:site_name" content="Home Assistant">
    <meta property="og:url" content="https://home-assistant.io/components/script/">
    <meta property="og:type" content="article">
    <meta property="og:description" content="Instructions how to setup scripts within Home Assistant.">
    <meta property="og:image" content="https://home-assistant.io/images/default-social.png">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@home_assistant">
    <meta name="twitter:title" content="Scripts">
    <meta name="twitter:description" content="Instructions how to setup scripts within Home Assistant.">
    <meta name="twitter:image" content="https://home-assistant.io/images/default-social.png">
    <link href="/stylesheets/screen.css" media="screen, projection, print" rel="stylesheet">
    <link href="/atom.xml" rel="alternate" title="Home Assistant" type="application/atom+xml">
    <link rel='shortcut icon' href='/images/favicon.ico' />
    <link rel='icon' type='image/png' href='/images/favicon-192x192.png' sizes='192x192' />
  </head>
  <body >
    <header class='site-header'>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item three-tenths lap-two-sixths palm-one-whole ha-title">
  <a href="/" class="site-title">
    <img width='40' src='/demo/favicon-192x192.png'>
    <span>Home Assistant</span>
  </a>
</div>
<div class="grid__item seven-tenths lap-four-sixths palm-one-whole">
  <nav>
    <input type="checkbox" id="toggle">
<label for="toggle" class="toggle" data-open="Main Menu" data-close="Close Menu"></label>
<ul class="menu pull-right">
  <li><a href="/getting-started/">Getting started</a></li>
  <li><a href="/components/">Components</a></li>
  <li><a href="/docs/">Docs</a></li>
  <li><a href="/cookbook/">Examples</a></li>
  <li><a href="/developers/">Developers</a></li>
  <li><a href="/blog/">Blog</a></li>
  <li><a href="/help/">Need help?</a></li>
  <li><a href='#' class='show-search'><i class="icon-search"></i></a></li>
</ul>
  </nav>
  <div class='search-container' style='display: none'>
    <div class='search'>
      <i class="icon-search"></i>
      <input id='search' placeholder='Search the docs…'>
      <a href='#' class='close'><i class="icon-remove-sign"></i></a>
    </div>
  </div>
</div>
  </div>
</div>
    </header>
    <div class="grid-wrapper">
      <div class="grid grid-center">
        <div class="grid__item two-thirds lap-one-whole palm-one-whole">
          <article class="page">
  <header>
    <h1 class="title indent">
      Scripts
    </h1>
  </header>
  <hr class="divider">
  <p>The <code class="highlighter-rouge">script</code> component allows users to specify a sequence of actions to be executed by Home Assistant when turned on. The script component will create an entity for each script and allow them to be controlled via services.</p>
<p>The sequence of actions is specified using the <a href="/getting-started/scripts/">Home Assistant Script Syntax</a>.</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">script</span><span class="pi">:</span>
  <span class="s">message_temperature</span><span class="pi">:</span>
    <span class="s">sequence</span><span class="pi">:</span>
      <span class="c1"># This is Home Assistant Script Syntax</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">notify.notify</span>
        <span class="s">data_template</span><span class="pi">:</span>
<span class="err"> </span><span class="s">         message</span><span class="pi">:</span> <span class="s">Current temperature is {{ states.sensor.temperature.state }}</span>
</code></pre>
</div>
<p class="note">
Script names (e.g. <code class="highlighter-rouge">message_temperature</code> in the example above) are not allowed to contain dash (minus) characters, i.e. <code class="highlighter-rouge">-</code>.
The preferred way to separate words for better readability is to use underscore (<code class="highlighter-rouge">_</code>) characters. 
</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="s">script: </span>
  <span class="s"># Turns on the bedroom lights and then the living room lights 1 minute later</span>
  <span class="s">wakeup</span><span class="pi">:</span>
    <span class="s">alias</span><span class="pi">:</span> <span class="s">Wake Up</span>
    <span class="s">sequence</span><span class="pi">:</span>
      <span class="c1"># This is Home Assistant Script Syntax</span>
      <span class="pi">-</span> <span class="s">event</span><span class="pi">:</span> <span class="s">LOGBOOK_ENTRY</span>
        <span class="s">event_data</span><span class="pi">:</span>
          <span class="s">name</span><span class="pi">:</span> <span class="s">Paulus</span>
          <span class="s">message</span><span class="pi">:</span> <span class="s">is waking up</span>
          <span class="s">entity_id</span><span class="pi">:</span> <span class="s">device_tracker.paulus</span>
          <span class="s">domain</span><span class="pi">:</span> <span class="s">light</span>
      <span class="pi">-</span> <span class="s">alias</span><span class="pi">:</span> <span class="s">Bedroom lights on</span>
        <span class="s">service</span><span class="pi">:</span> <span class="s">light.turn_on</span>
        <span class="s">data</span><span class="pi">:</span>
          <span class="s">entity_id</span><span class="pi">:</span> <span class="s">group.bedroom</span>
          <span class="s">brightness</span><span class="pi">:</span> <span class="s">100</span>
      <span class="pi">-</span> <span class="s">delay</span><span class="pi">:</span>
          <span class="c1"># supports seconds, milliseconds, minutes, hours</span>
          <span class="s">minutes</span><span class="pi">:</span> <span class="s">1</span>
      <span class="pi">-</span> <span class="s">alias</span><span class="pi">:</span> <span class="s">Living room lights on</span>
        <span class="s">service</span><span class="pi">:</span> <span class="s">light.turn_on</span>
        <span class="s">data</span><span class="pi">:</span>
          <span class="s">entity_id</span><span class="pi">:</span> <span class="s">group.living_room</span>
</code></pre>
</div>
<h3><a class="title-link" name="passing-variables-to-scripts" href="#passing-variables-to-scripts"></a> Passing variables to scripts</h3>
<p>As part of the service, variables can be passed along to a script so they become available within templates in that script.</p>
<p>There are two ways to achieve this. One way is using the generic <code class="highlighter-rouge">script.turn_on</code> service. To pass variables to the script with this service, call it with the desired variables:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">automation</span><span class="pi">:</span>
  <span class="s">trigger</span><span class="pi">:</span>
    <span class="s">platform</span><span class="pi">:</span> <span class="s">state</span>
    <span class="s">entity_id</span><span class="pi">:</span> <span class="s">light.bedroom</span>
    <span class="s">from</span><span class="pi">:</span> <span class="s1">'</span><span class="s">off'</span>
    <span class="s">to</span><span class="pi">:</span> <span class="s1">'</span><span class="s">on'</span>
  <span class="s">action</span><span class="pi">:</span>
    <span class="s">service</span><span class="pi">:</span> <span class="s">script.turn_on</span>
    <span class="s">entity_id</span><span class="pi">:</span> <span class="s">script.notify_pushover</span>
    <span class="s">data</span><span class="pi">:</span>
      <span class="s">variables</span><span class="pi">:</span>
        <span class="s">title</span><span class="pi">:</span> <span class="s1">'</span><span class="s">State</span><span class="nv"> </span><span class="s">change'</span>
        <span class="s">message</span><span class="pi">:</span> <span class="s1">'</span><span class="s">The</span><span class="nv"> </span><span class="s">light</span><span class="nv"> </span><span class="s">is</span><span class="nv"> </span><span class="s">on!'</span>
</code></pre>
</div>
<p>The other way is calling the script as a service directly. In this case, all service data will be made available as variables. If we apply this approach on the script above, it would look like this:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">automation</span><span class="pi">:</span>
  <span class="s">trigger</span><span class="pi">:</span>
    <span class="s">platform</span><span class="pi">:</span> <span class="s">state</span>
    <span class="s">entity_id</span><span class="pi">:</span> <span class="s">light.bedroom</span>
    <span class="s">from</span><span class="pi">:</span> <span class="s1">'</span><span class="s">off'</span>
    <span class="s">to</span><span class="pi">:</span> <span class="s1">'</span><span class="s">on'</span>
  <span class="s">action</span><span class="pi">:</span>
    <span class="s">service</span><span class="pi">:</span> <span class="s">script.notify_pushover</span>
    <span class="s">data</span><span class="pi">:</span>
      <span class="s">title</span><span class="pi">:</span> <span class="s1">'</span><span class="s">State</span><span class="nv"> </span><span class="s">change'</span>
      <span class="s">message</span><span class="pi">:</span> <span class="s1">'</span><span class="s">The</span><span class="nv"> </span><span class="s">light</span><span class="nv"> </span><span class="s">is</span><span class="nv"> </span><span class="s">on!'</span>
</code></pre>
</div>
<p>Using the variables in the script requires the use of <code class="highlighter-rouge">data_template</code>:</p>
<div class="language-yaml highlighter-rouge"><pre class="highlight"><code><span class="c1"># Example configuration.yaml entry</span>
<span class="s">script</span><span class="pi">:</span>
  <span class="s">notify_pushover</span><span class="pi">:</span>
    <span class="s">sequence</span><span class="pi">:</span>
      <span class="pi">-</span> <span class="s">condition</span><span class="pi">:</span> <span class="s">state</span>
        <span class="s">entity_id</span><span class="pi">:</span> <span class="s">switch.pushover_notifications</span>
        <span class="s">state</span><span class="pi">:</span> <span class="s1">'</span><span class="s">on'</span>
      <span class="pi">-</span> <span class="s">service</span><span class="pi">:</span> <span class="s">notify.pushover</span>
        <span class="s">data_template</span><span class="pi">:</span>
          <span class="s">title</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{</span><span class="nv"> </span><span class="s">title</span><span class="nv"> </span><span class="s">}}"</span>
          <span class="s">message</span><span class="pi">:</span> <span class="s2">"</span><span class="s">{{</span><span class="nv"> </span><span class="s">message</span><span class="nv"> </span><span class="s">}}"</span>
</code></pre>
</div>
</article>
        </div>
        <aside id="sidebar" class="grid__item one-third lap-one-whole palm-one-whole">
          <div class="grid">
    <section class="aside-module grid__item one-whole lap-one-half">
  <div class='edit-github'><a href='https://github.com/home-assistant/home-assistant.github.io/tree/current/source/_components/script.markdown'>Edit this page on GitHub</a></div>
  <div class='brand-logo-container section'>
      <img src='/images/supported_brands/home-assistant.png' />
  </div>
    <div class='section'>
    <h1 class="title delta">Category Automation</h1>
    <ul class='divided'>
        <li>
            <a href='/components/alert/'>Alert</a>
        </li>
        <li>
            <a href='/components/automation/'>Automation</a>
        </li>
        <li>
            <a href='/components/counter/'>Counter</a>
        </li>
        <li>
            <a href='/components/switch.flux/'>Flux Light Adjustment</a>
        </li>
        <li>
            <a href='/components/hdmi_cec/'>HDMI CEC</a>
        </li>
        <li>
            <a href='/components/ifttt/'>IFTTT</a>
        </li>
        <li>
            <a href='/components/input_boolean/'>Input Boolean</a>
        </li>
        <li>
            <a href='/components/input_datetime/'>Input Datetime</a>
        </li>
        <li>
            <a href='/components/input_number/'>Input Number</a>
        </li>
        <li>
            <a href='/components/input_select/'>Input Select</a>
        </li>
        <li>
            <a href='/components/input_text/'>Input Text</a>
        </li>
        <li>
            <a href='/components/keyboard/'>Keyboard</a>
        </li>
        <li>
            <a href='/components/lirc/'>LIRC</a>
        </li>
        <li>
            <a href='/components/device_sun_light_trigger/'>Presence based lights</a>
        </li>
        <li>
            <a href='/components/proximity/'>Proximity</a>
        </li>
        <li>
            <a href='/components/python_script/'>Python Scripts</a>
        </li>
        <li>
            <a href='/components/rest_command/'>RESTful Command</a>
        </li>
        <li>
            Scripts
        </li>
        <li>
            <a href='/components/shell_command/'>Shell command</a>
        </li>
        <li>
            <a href='/components/timer/'>Timer</a>
        </li>
    </ul>
    </div>
</section>
</div>
        </aside>
      </div>
    </div>
    <footer>
      <div class="grid-wrapper">
  <div class="grid">
    <div class="grid__item">
      <div class="copyright">
  <a rel="me" href='https://twitter.com/home_assistant'><i class="icon-twitter"></i></a>
  <a rel="me" href='https://facebook.com/homeassistantio'><i class="icon-facebook"></i></a>
  <a rel="me" href='https://plus.google.com/110560654828510104551'><i class="icon-google-plus"></i></a>
  <a rel="me" href='https://github.com/home-assistant/home-assistant'><i class="icon-github"></i></a>
  <div class="credit">
    Contact us at <a href='mailto:hello@home-assistant.io'>hello@home-assistant.io</a> (no support!).<br>
    Website powered by <a href='http://jekyllrb.com/'>Jekyll</a> and the <a href='https://github.com/coogie/oscailte'>Oscalite theme</a>.<br />
    Hosted by <a href='https://pages.github.com/'>GitHub</a> and served by <a href='https://cloudflare.com'>CloudFlare</a>.
  </div>
  <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/88x31.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">home-assistant.io</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.
</div>
    </div>
  </div>
</div>
    </footer>
    <script>
  var _gaq=[['_setAccount','UA-57927901-1'],['_trackPageview']];
  (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
  g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
  s.parentNode.insertBefore(g,s)}(document,'script'));
</script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.css" />
<script type="text/javascript" src="https://cdn.jsdelivr.net/docsearch.js/2/docsearch.min.js"></script>
<script type="text/javascript">
docsearch({
  apiKey: 'ae96d94b201c5444c8a443093edf3efb',
  indexName: 'home-assistant',
  inputSelector: '#search',
  debug: false // Set debug to true if you want to inspect the dropdown
});
document.querySelector('.search .close').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'none';
});
document.querySelector('.show-search').addEventListener('click', function(ev) {
  ev.preventDefault();
  document.querySelector('.search-container').style.display = 'block';
  document.getElementById('toggle').checked = false;
  document.querySelector('.search-container input').focus();
});
</script>
  </body>
</html>
